
<h2 clCardTitle>
  <div class="card-title-text">Escolha sua área de trabalho</div>
</h2>

<div clCard class="p-0 content">
  <div clCardContent>
    <div fxLayout="row wrap">
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="light-gray">
        <div clCard class="plan-pricing text-center p-0">
          <div clCardContent>
            <h3>
              Developer
            </h3>
            <div class="text-sm text-muted">For New Developers</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
