<!--
<div class="cl-card no-bg content" fxLayout="column" fxLayoutGap="24px" fxLayoutGap.xs="16px">
  <div clCard>
    <table-list
      *ngIf="!this.personListService.emptyResult"
      [hasFilter]="true"
      [title]="'Lista de '+typePerson?.pluralName.toLowerCase()"
      [columns]="columns"
      (loadNewData)="load()"
      (cbButton)="cbButton($event)"
      (cbFilter)="openFilter()"
      [loading]="personListService.isLoading"
    ></table-list>
    <div class="empty-state" *ngIf="this.personListService.emptyResult">
      <h2>Lista vazia</h2>
      <p>Não foram encontrados resultados para sua lista</p>
    </div>
  </div>
  <a [routerLink]="urlSetup" clButtonContained [bgColor]="colors.primary">
    <span>Cadastrar</span>
  </a>
</div>
<router-outlet></router-outlet>
-->
