<div class="cl-card no-bg content" fxLayout="column" fxLayoutGap="24px" fxLayoutGap.xs="16px">
  <div clCard>
    <div clCardContent>
      <person-username-autocomplete (callback)="getCallback($event)"></person-username-autocomplete>

      <cl-form-component *ngIf="formConfig && formConfig.length" [formConfig]="formConfig">
      </cl-form-component>
    </div>
    <div clCardFooterButton [disableTop]="true">
      <button clButtonContained
              (click)="save()"
              [loading]="isFormLoading"
              [hasDisabled]="!isFormValid"
              [bgColor]="colors.primary">
        <span>Associar</span>
      </button>
      <a clButtonContainedSecondary
         [routerLink]="urlSetup"
      >
        <span>Cadastrar novo usuário</span>
      </a>
    </div>
  </div>
</div>
