.cardPerfil {
  background-color: #274E13 !important;
  min-height: 200px;
}

.perfil {
  color: honeydew;
  font-size: large;
  text-align: center;
}

.email {
  font-size: small;
}

.profPic {
  margin-top: 16px;
  width: 70px; height: 70px;
  border: 2px solid rgb(255, 255, 255);
  border-radius:100px;
}

.name {
  font-size: smaller;
}

.mat-icon {
  font-size: 60px;
}
